.page#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15rem;
  padding: 5rem 0;
}

.page#about > article .text-about {
  font-size: 1.1em;
  line-height: 2rem;
  max-width: 25rem;
}

article {
  flex-direction: column;
  justify-content: space-around;
}

article > .container-about {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2.3rem;
}

article > .container-about > .children-container {
  flex-wrap: wrap;
  gap: 8rem;
}

article > .container-about > .children-container .content-about {
  align-self: flex-start;
  flex: 1 1 300px;
  flex-direction: column;
  gap: 2.5rem;
}

.page
  > article
  > .container-about
  > .children-container
  .content-about
  .experience {
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

article > .container-about .line {
  display: block;
  width: 20rem;
  height: 2px;
  background-color: var(--text-color_200);
  border: none;
}
