#contact section {
  width: 100%;
}

#contact .content-contact {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: 1 1 800px;
}

#contact .contact-me {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem
}

#contact .row-social-cards, #contact .social-media {
  margin-top: 18px;
}

#contact .row-social-cards a {
  margin-right: 1.5rem;
}

#contact .container-form-contact {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
}

#contact .container-form-contact form {
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;
}

#contact .container-form-contact form .input-field {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

#contact section .container-form-contact form .input-field input,
#contact section .container-form-contact form textarea {
  background-color: transparent;
  border-radius: var(--bd-radius-default);
  border: 1px solid var(--bg-secondary);
  box-shadow: var(--shadow-black);
}

#contact .container-form-contact form .input-field input:focus,
#contact .container-form-contact form textarea:focus {
  outline: 1px solid var(--text-secondary);
}

#contact .container-form-contact form textarea {
  width: 35rem;
  min-height: 4rem;
  max-height: 20rem;
  padding: 1rem;
  resize: vertical;
  color: var(--text-secondary);
  font-size: 1em;
}

#contact .container-form-contact form .input-field label {
  color: var(--text-primary);
  display: block;
  font-family: var(--font-Ubuntu);
  font-weight: bold;
}

#contact .container-form-contact form .input-field input {
  width: 20rem;
  height: 50px;
  padding: 0.4rem 1rem;
  font-size: 1em;
  color: var(--text-secondary);
}

#contact
 .container-form-contact
 form
 button[type="submit"]:disabled {
  filter: brightness(0.2);
  cursor: auto;
}