footer {
  min-height: 10vh;
  border-top: 1px solid var(--bg-secondary);
  background-color: var(--bg-primary);
  padding: 2rem 2rem;
}

footer .content-footer {
  justify-content: space-around;
}

footer .content-footer .logo-footer {
  gap: 12px;
}

footer a , footer a:visited {
  text-decoration: underline;
  color: var(--text-secondary);
}