* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.max-width {
  margin: auto;
  max-width: 1450px;
}

.page {
  min-height: 80vh;
  background-color: var(--bg-color_100);
  transition: background-color ease 0.2s;
  width: 100%;
  padding: 0 3rem;
  font-synthesis: style;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

h2 {
  margin: auto;
  font-size: 2.8em;
  display: block;
  color: var(--text-color_100);
}

.active {
  display: flex !important;
}

.inactive {
  display: none;
}

.icon-no-color {
  color: #D9DADC;
}

/* Classe utilizada para os cards e animações do IntersectionObserver */
.hidden-element {
  opacity: 0;
  transform: scale(0.7);
  transition: transform 0.3s, opacity 0.5s ease-in-out;
}

.show-element {
  opacity: 1;
  transform: scale(1);
}
/* Fim das Classes*/

.title, h2 {
  font-family: var(--font-Ubuntu);
  color: var(--text-color_100);
}

p,
strong,
h3,
h4,
h5 {
  color: var(--text-color_200);
  font-family: var(--font-Ubuntu);
}

.gradient-text {
  background: var(--gradient-main-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilos para botão*/
.btn {
  cursor: pointer;
  font-family: var(--font-Ubuntu);
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 12px;
  padding: 1rem 2rem;

  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btn-dark {
  background-color: #171717;
  color: #e5e7eb;
}

.btn-primary {
  background-color: turquoise;
  color: #1f2937;
}

.btn:focus {
  box-shadow: rgba(0, 119, 255, 0.3) 0px 0px 0px 3px;
}

.btn:hover {
  filter: drop-shadow(0px 0px 3px var(--text-color_100));
  transition: filter 0.15s ease 0s;
}
/* Fim de estilos de botão */

/* Início Estilo de Toast */

.toast {
  visibility: hidden;
  min-width: 250px;
  height: 50px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: var(--bg-color_100);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 8px;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 2rem 2rem 1rem;
  animation: popUp 4s ease-in-out;
}

.toast > div > p:first-child {
  font-family: var(--font-Ubuntu);
}

.toast > div > p:last-child {
  font-family: var(--font-IBM-Plex-Mono);
}

/* Fim de estilos de Toast*/