section.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10rem;
}

section.container .content-presentation {
  max-width: 800px;
  flex-direction: column;
  gap: 2rem;
}
section.container .title {
  color: var(--text-primary);
  font-weight: 900;
  letter-spacing: -3px;
}

section.container .subtitle {
  max-width: 600px;
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 42px;
}

section.container .group-buttons {
  gap: 1rem;
}
