section.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 5rem;
}

section.container .content-presentation {
  max-width: 800px;
  flex-direction: column;
  gap: 1rem;
}

section.container .title {
  font-family: var(--font-Ubuntu);
  font-weight: 700;
  font-size: 3.7em;
  line-height: 5rem;
  color: var(--text-color_100);
}

section.container .subtitle {
  color: #374151;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 42px;
}

section.container .group-buttons {
  gap: 1rem;
}