@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bg-color_100: #F9FAFB;
  --bg-color_200: #EEEEEE;
  --bg-color_300: #E5E7EB;
  --text-color_100: #374151;
  --text-color_200: #1F2937;

  font-family: 'Poppins', Arial, Helvetica, sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body > .page {
  height: 100vh;
  background-color: var(--bg-color_100);
  transition: background ease 0.2s;
}

.flex {
  display: flex;
  align-items: center;
}

body > .page > nav {
  width: 100%; 
  padding: 3rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.page > nav > div.flex {
  justify-content: space-between;
}

.page > nav .item-navbar {
  color: var(--text-color_100);
  text-decoration: none;
  font-size: 1.1em;
}

.page > nav > div > a {
  margin: 0 2rem;
  letter-spacing: 0.1rem;
}

.page > nav > div.content-navbar > .context-switch > .text-label,
.page > nav > div.content-navbar > .context-switch > input {
  display: none;
}

.page > nav > div.onVisibility {
  display: flex !important;
  opacity: 1 !important;
}

.page > nav > div.content-navbar > .context-switch > label.change-color {
  width: 3.8rem;
  height: 1.9rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: var(--text-color_200);
  padding: 0.3rem;
  position: relative;
  justify-content: space-between;

  transform: scale(0.9);
}

.page > nav > div.content-navbar > .context-switch > label.change-color > .ball {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--bg-color_100);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 3px;

  transform: translateX(0px);
  transition: transform 0.2s ease-in-out;
}

.page > nav > div.content-navbar > .context-switch > input:checked + 
label.change-color > .ball {
  transform: translateX(2.1rem);
}

.page > nav button.menu {
  display: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

.page > nav button.menu .line-menu{
  margin: 8px;
  background-color: var(--text-color_100);
  width: 1.5rem;
  height: 0.2rem;
}
