@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --font-IBM-Plex-Mono: "IBM Plex Mono", monospace, Arial, sans-serif;
  --font-Ubuntu: "Ubuntu", Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.max-width {
  margin: auto;
  max-width: 1470px;
}

.page {
  min-height: 100vh;
  background-color: var(--bg-color_100);
  transition: background-color ease 0.2s;
  font-family: var(--font-IBM-Plex-Mono);
  width: 100%;
  padding: 0 3rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.no-overflow {
  overflow-y: hidden;
}

h2 {
  margin: auto;
  font-size: 2.8em;
  display: block;
  color: var(--text-color_100);
}

.active {
  display: flex !important;
}

.inactive {
  display: none;
}

/* Estilos para os cards de Skills*/
.hidden-element {
  opacity: 0;
  transform: scale(0.7);
  transition: transform 0.3s, opacity 0.5s ease-in-out;
}

.show-element {
  opacity: 1;
  transform: scale(1);
}

li {
  margin-left: 1rem;
}

li::marker {
  color: var(--text-color_100);
}

p,
strong,
h3,
h4,
h5 {
  color: var(--text-color_200);
}

.gradient-text {
  background: -webkit-linear-gradient(45deg, #01a9f2, #787dff, #18d3dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  height: 50px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: var(--bg-color_100);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 8px;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 2rem 2rem 1rem;
  animation: popUp 4s ease-in-out;
}

@keyframes popUp {
  0% {
    visibility: visible;
    opacity: 0.3;
    transform: translate(0px, 30px);
  }

  20% {
    opacity: 1;
    transform: translate(0px, 0px);
    animation-duration: 5s;
  }

  50% {
    opacity: 1;
    transform: translate(0px, 0px);
    animation-duration: 5s;
  }

  80% {
    opacity: 1;
    transform: translate(0px, 0px);
    animation-duration: 5s;
  }

  100% {
    opacity: 0;
    transform: translate(0px, -70px);
  }
}

.toast > div > p:first-child {
  font-family: var(--font-Ubuntu);
}

.toast > div > p:last-child {
  font-family: var(--font-IBM-Plex-Mono);
}

.btn {
  cursor: pointer;
  font-family: var(--font-Ubuntu);
  font-weight: 500;
  border-radius: 12px;
  padding: 0.9rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btn-dark {
  background-color: #171717;
  color: #e5e7eb;
}

.btn-primary {
  background-color: turquoise;
  color: #1f2937;
}

.btn:focus {
  box-shadow: rgba(0, 119, 255, 0.3) 0px 0px 0px 3px;
}

.btn:hover {
  filter: drop-shadow(0px 0px 3px var(--text-color_100));
  transition: filter 0.15s ease 0s;
}

nav {
  background-color: #f9fafb;
  border-bottom: 2px solid #e5e7eb;
  width: 100%;
  padding: 0.8rem 3rem;

  position: fixed;
  top: 0;
  z-index: 99;

  font-family: var(--font-Ubuntu);
  font-weight: 500;
}

nav div.flex {
  justify-content: space-between;
  gap: 1.5rem;
}

nav .item-navbar {
  color: var(--text-color_100);
  font-size: 1em;
}

nav div.content-navbar {
  transition: all ease 0.4s;
}

nav .context-switch {
  justify-content: space-between;
  gap: 0.8rem;
}

nav .context-switch input {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

nav .context-switch label.change-color {
  width: 3.8rem;
  height: 1.9rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: var(--text-color_200);
  padding: 0.3rem;
  position: relative;
  justify-content: space-between;

  transform: scale(0.9);
  user-select: none;
}

nav .context-switch label.change-color .ball {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--bg-color_100);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 3px;

  transform: translateX(0px);
  transition: transform 0.2s ease-in-out;
}

nav .context-switch input:checked + label.change-color > .ball {
  transform: translateX(2.1rem);
}

button.menu {
  padding: 0.5rem;
  display: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: transparent;
  color: #374151;
  transition: background-color, ease 0.3s;
}

button.menu:hover {
  background-color: #eaeaea;
}

button.menu:focus {
  outline: 2px solid turquoise;
}

button.menu i {
  font-size: 2em;
}

section.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.section-hero {
  flex-wrap: wrap;
}

.section-hero > div {
  flex: 1 1 650px;
}

.page .flex {
  justify-content: space-between;
}

section.container .content-presentation {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section.container .content-presentation .title {
  font-family: var(--font-Ubuntu);
  font-weight: 700;
  font-size: 3.7em;
  line-height: 5rem;
  color: var(--text-color_100);
}

section.container .content-presentation .subtitle {
  color: #374151;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 42px;
}

section.container .content-presentation > div {
  justify-content: flex-start;
  gap: 2rem;
}

section.container .content-img {
  max-width: 45%;
}

section.container .content-img > img {
  margin: auto;
  display: block;
  max-width: 100%;
}

.page#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15rem;
  padding: 5rem 0;
}

.page#about > article .text-about {
  font-size: 1.1em;
  line-height: 2rem;
  max-width: 25rem;
  color: var(--text-color_200);
}

article {
  flex-direction: column;
  justify-content: space-around;
}

article > .container-about {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2.3rem;
}

article > .container-about > .children-container {
  flex-wrap: wrap;
  gap: 8rem;
}

article > .container-about > .children-container .content-about {
  align-self: flex-start;
  flex: 1 1 300px;
  flex-direction: column;
  gap: 2.5rem;
}

.page
  > article
  > .container-about
  > .children-container
  .content-about
  .experience {
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

article > .container-about .line {
  display: block;
  width: 20rem;
  height: 2px;
  background-color: var(--text-color_200);
  border: none;
}

.page#skills {
  padding: 5rem 3rem;
}

.content-skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.content-skills > div.flex {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.content-skills > div > .parent-slider {
  height: 42rem;
  position: relative;
  user-select: none;
}

.content-skills > div > .parent-slider .card {
  width: 18rem;
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid var(--bg-color_200);
  border-radius: 0.8rem;
  background-image: linear-gradient(
    320deg,
    var(--bg-color_100),
    var(--bg-color_200)
  );
  -webkit-backdrop-filter: saturate(50%) blur(8px);
  backdrop-filter: saturate(50%) blur(8px);
  padding: 2rem 1.5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.content-skills > div > .parent-slider > .card > .title-card {
  color: var(--text-color_100);
  font-family: var(--font-Ubuntu);
  font-size: 1.1em;
}

.content-skills > div > .parent-slider > .card > .content-card {
  color: var(--text-color_200);
  line-height: 24px;
}

.content-skills > div > .parent-slider .card.active {
  opacity: 1;
  z-index: 95;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.content-skills > div > .parent-slider .card.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.content-skills > div > .parent-slider .card.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.content-skills > div > .parent-slider .btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  z-index: 95;
}

.content-skills > div > .parent-slider .btn-container > .btn {
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.page > .content-skills > div > .parent-slider > .btn-container > .btn:hover {
  opacity: 1;
}

.page > .content-skills > div > .parent-slider > .btn-container > .btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  -webkit-backdrop-filter: saturate(50%) blur(8px);
  backdrop-filter: saturate(50%) blur(8px);
  z-index: -96;
}

.page
  > .content-skills
  > div
  > .parent-slider
  > .btn-container
  > .btn:nth-child(1) {
  float: left;
}

.page
  > .content-skills
  > div
  > .parent-slider
  > .btn-container
  > .btn:nth-child(2) {
  float: right;
}

#projects {
  padding: 5rem 2rem;
  background-color: var(--bg-color_0);
  justify-content: center;
  min-height: 50vh !important;
}

#projects > section {
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#projects > section > .container-projects {
  max-width: 80rem;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

#projects > section > .container-projects > .card-project {
  flex: 1 1 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  max-width: 25rem;
  min-height: 14.5rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border: 2px solid;
  border-color: var(--bg-color_300);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#projects > section > .container-projects > .card-project > :nth-child(1) {
  font-size: 1.4em;
  font-family: var(--font-Ubuntu);
}

#projects > section > .container-projects > .card-project > .description {
  font-size: 1.1em;
}

#projects > section > .container-projects > .card-project > a {
  font-size: 1.1em;
  color: var(--text-color_100);
  background-image: linear-gradient(
    to right,
    #b429f9,
    #26c5f3,
    var(--text-color_100) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#projects > section > .container-projects > .card-project a:hover {
  background-position: 0;
}

#projects > section > a {
  margin: auto;
  color: var(--bg-color_200);
  background-color: var(--text-color_100);
  padding: 0.7rem;
  border-radius: 0.4rem;
}

#contact {
  padding: 5rem 2rem;
  min-height: 50vh !important;
}

#contact > section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

#contact > section > div:first-child {
  margin-left: 10rem;
}

#contact > section > div:last-child {
  margin-right: 10rem;
}

#contact > section > .container-social-cards {
  max-height: 50rem;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

#contact > section > .container-social-cards > h3 {
  font-size: 2em;
}

#contact > section > .container-social-cards > .row-social-cards > a {
  margin-right: 1rem;
}

#contact
  > section
  > .container-social-cards
  > .row-social-cards
  > a
  > svg:hover {
  filter: drop-shadow(0px 0px 3px var(--text-color_100));
  transition: filter 0.15s ease 0s;
}

#contact
  > section
  > .container-social-cards
  > .row-social-cards
  > a
  > svg
  > path {
  fill: var(--text-color_100);
  transition: fill ease 0.2s;
}

#contact > section > .container-form-contact {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contact > section > .container-form-contact > form {
  flex-direction: column;
  gap: 1.2rem;
}

#contact > section > .container-form-contact > form > .input-field {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

#contact > section > .container-form-contact > form > .input-field input,
#contact > section > .container-form-contact > form > textarea {
  background-color: transparent;
  border-radius: 0.4rem;
  border: 2px solid var(--bg-color_400);
}

#contact > section > .container-form-contact > form > .input-field input:focus,
#contact > section > .container-form-contact > form > textarea:focus {
  outline: none;
  box-shadow: rgba(0, 119, 255, 0.3) 0px 0px 0px 2px;
}

#contact > section > .container-form-contact > form > textarea {
  width: 35rem;
  min-height: 4rem;
  max-height: 20rem;
  padding: 1rem;
  resize: vertical;
  color: var(--text-color_100);
  font-size: 1em;
}

#contact > section > .container-form-contact > form > .input-field input {
  width: 20rem;
  height: 3.5rem;
  padding: 2rem 1rem;
  position: relative;
  padding: 15px 8px 1px 8px;
  font-size: 1.1em;
  color: var(--text-color_100);
}

#contact > section > .container-form-contact > form > .input-field label {
  position: absolute;
  transform: translate(-10px, -18px);
  font-size: 0.7em;
  top: 17px;
  left: 18px;
  color: var(--bg-color_400);
  text-transform: uppercase;
  font-family: var(--font-Ubuntu);
  transition: all ease 0.1s;
  letter-spacing: 1px;
  cursor: text;
}

#contact > section > .container-form-contact > form > button[type="submit"] {
  width: 7rem;
  height: 2.5rem;
  font-size: 1em;
  align-self: flex-start;
}

#contact
  > section
  > .container-form-contact
  > form
  > button[type="submit"]:disabled {
  filter: brightness(0.7);
  cursor: auto;
}

footer {
  min-height: 10vh;
  background-color: var(--bg-color_0);
  padding: 2rem 2rem;

  justify-content: space-around;
  flex-direction: row;
}

footer > p {
  font-family: var(--font-IBM-Plex-Mono);
}
