@media (max-width: 1715px) {
  .page > article.container {
    padding: 0 4.5rem;
  }

  .page > article.container > div.content-presentation > p.title {
    font-size: 3em;
  }

  .page > article.container > div.content-presentation > p.subtitle {
    font-size: 1.1em;
  }
} 

@media (max-width: 1368px) {
  .page > article.container {
    gap: 0.5rem;
  }

  .page > article.container .content-presentation button {
    width: 9rem;
    font-size: 1em;
  }

  .page > article.container > div.content-presentation > p.title {
    font-size: 2.5em;
    line-height: 4rem;
  }

  .page > article.container > div.content-presentation > p.subtitle {
    font-size: 1em;
  }
}

@media (max-width: 1198px) {
  .page > article.container {
    padding: 8rem 2rem;
  }
}

@media (max-width: 1024px) {
  .page > nav {
    padding: 2rem 5rem;
    position: initial;
  }

  .page > article.container {
    gap: 5rem;
  }

  h2 {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .page > nav {
    padding: 1rem 2rem !important;
  }

  .page > nav > div {
    position: absolute;
    right: 0;
    display: none !important;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 8vh;
  }

  .page > nav > div a {
    margin: 3rem 0;
  }

  .page > nav > div > .context-switch {
    width: 70%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color_200);
    border-radius: 1rem;
    padding: 1rem 2rem;
  }
  
  .page > nav > div > .context-switch > .text-label {
    display: block !important;
    color: var(--text-color_100);
  }

  .page > nav > button.menu {
    display: block;
    transition: all 0.3s;
  }

  .page > nav > button.active .item-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .page > nav > button.active .item-2 {
    opacity: 0;
  }

  .page > nav > button.active .item-3 {
    transform: rotate(45deg) translate(-3px, -3px);
  }
}

@media (max-width: 550px) {
  .page > article.container > div.content-presentation > p.title {
    font-size: 1.8em;
    line-height: 3rem;
  }
}