@media (max-width: 1024px) {
  .page > nav {
    padding: 2rem 5rem;
    position: initial;
  }
}

@media (max-width: 750px) {
  .page > nav {
    padding: 1rem 2rem !important;
  }

  .page > nav > div {
    position: absolute;
    right: 0;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 8vh;
  }

  .page > nav > div a {
    margin: 3rem 0;
  }

  .page > nav > div > .context-switch {
    width: 70%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color_200);
    border-radius: 1rem;
    padding: 1rem 2rem;
  }
  
  .page > nav > div > .context-switch > .text-label {
    display: block !important;
    color: var(--text-color_100);
  }

  .page > nav > button.menu {
    display: block;
    transition: all 0.3s;
  }

  .page > nav > button.active .item-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .page > nav > button.active .item-2 {
    opacity: 0;
  }

  .page > nav > button.active .item-3 {
    transform: rotate(45deg) translate(-4px, -3px);
  }
}