@media (prefers-reduced-motion) {
  .hidden-element {
    transition: none;
  }
}

@media (max-width: 1715px) {
  #contact > section > div:first-child {
    margin-left: 2rem;
  }

  #contact > section > div:last-child {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  nav {
    padding: 0.8rem 3rem;
  }

  nav div.content-navbar {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 93vh;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    background-color: var(--bg-primary);
    padding: 2rem;
    text-align: center;
    top: 58.5px; /*Nav Height*/
  }

  nav div.content-navbar a {
    font-size: 0.9em;
    padding: 0.2rem;
    width: 100%;
  }

  nav .context-switch::before,
  nav .context-switch::after {
    content: none !important;
  }

  nav button.menu {
    display: block;
  }

  #home .content-presentation .title {
    font-size: 3.5em;
    line-height: 76px;
  }

  .page#projects > section > .container-projects {
    flex-basis: calc(50% - 20px);
  }

  #contact > section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: flex-start;
    align-items: center;
  }

  #contact > section > div:first-child {
    margin: 0;
  }

  #contact > section > div:last-child {
    margin: 0;
  }

  #contact > section .container-social-cards > h2 {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .page > nav {
    padding: 2rem 2rem;
  }

  h2 {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .page {
    padding: 0 0.8rem;
  }
  .page > nav > div > .context-switch {
    width: 15rem;
  }

  .page > section.container {
    padding: 0rem 1rem;
  }
  
  section.container .subtitle {
    font-size: 1em;
  }

  .page#about {
    gap: 5rem;
  }

  .page#skills {
    padding: 3rem 1rem;
  }

  .page > .content-skills > div > .parent-slider {
    transform: scale(0.85);
  }

  .page > article > .container-about > .children-container {
    gap: 2rem;
  }

  .page > article > .container-about > .children-container > .content-about {
    align-items: flex-start !important;
  }

  #contact > section > .container-form-contact > form > textarea {
    max-width: 26rem;
  }

  #projects .container-cards {
    grid-template-columns: 1fr;
  }

  footer {
    flex-direction: column;
    gap: 1.8rem;
  }
}

@media (max-width: 550px) {
  .toast {
    margin: 0 auto;
    inset: 1rem 0 0 0;
  }

  section.container {
    margin-top: 8rem;
  }

  #home .content-presentation .title {
    font-size: 2.5em;
    line-height: 56px;
  }

  .page > article > .container-about .line {
    width: 15rem;
  }

  .page > section.container > div.content-presentation > p.title {
    font-size: 2.5em;
    line-height: 3rem;
  }

  #contact > section > .container-form-contact > form > .input-field label {
    font-size: 0.7em;
  }

  #contact
    > section
    > .container-form-contact
    > form
    > .input-field
    input:valid
    ~ label,
  #contact
    > section
    > .container-form-contact
    > form
    > .input-field
    input:focus
    ~ label {
    transform: translate(-11px, -17px);
    font-size: 0.5em;
  }

  #contact > section > .container-form-contact > form > .input-field input {
    width: 15rem;
  }

  #contact > section > .container-form-contact > form > textarea {
    width: 18rem;
  }
}
