#projects {
  padding: 5rem 2rem;
  justify-content: center;
  min-height: 50vh !important;
}

#projects > section {
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#projects > section > .container-projects {
  max-width: 80rem;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

#projects > section > .container-projects > .card-project {
  flex: 1 1 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  max-width: 25rem;
  min-height: 14.5rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border: 2px solid;
  border-color: var(--bg-secondary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#projects > section > .container-projects > .card-project > :nth-child(1) {
  font-size: 1.4em;
}

#projects > section > .container-projects > .card-project > .description {
  font-size: 1.1em;
}
