#projects {
  padding: 5rem 2rem;
  justify-content: center;
  min-height: 50vh !important;
}

#projects section {
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#projects .card-project {
  max-width: 450px;
  padding: 1rem;
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-secondary);
  box-shadow: var(--shadow-black);
  border-radius: 10px;

  flex-direction: column;
  gap: 2rem;
}

#projects .card-project .thumb-project {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--bg-secondary);
}

#projects .card-project .content-card {
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

#projects .card-project .content-card .content-card-row-1 {
  width: 100%;
  justify-content: space-between !important;
}

#projects .card-project .content-card .content-card-row-1 .category-project {
  font-size: 0.7em;
  display: block;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 0.35rem;
  border-radius: 10px;
}

#projects .card-project .content-card .content-card-row-1 .procjets-url a:visited {
  color: var(--bg-primary);
}

#projects .card-project .content-card .content-card-row-1 .procjets-url a i {
  font-size: 1.3em;
  color: var(--text-secondary);
  transition: color ease 0.5s;
} 


#projects .card-project .content-card .content-card-row-1 .procjets-url a i:hover {
  color: var(--main-color);
}

#projects .card-project .content-card .content-card-row-1 .procjets-url a i:nth-child(1) {
  margin-left: 12px;
}

#projects .card-project .content-card .content-card-row-2 {
  align-items: flex-start;
  flex-direction: column;
  gap: 0.6rem;
}

#projects .card-project .content-card .content-card-row-2 .card-title {
  font-size: 1.8em;
  font-weight: bold;
}

#projects .card-project .content-card .content-card-row-2 .card-description {
  line-height: 26px;
}

#projects .card-project .content-card .content-card-row-3 {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

#projects .card-project .content-card .content-card-row-3 i {
  font-size: 2.8em
}