#skills {
  min-height: 20rem;
  padding: 5rem 3rem;
  flex-direction: column;
  gap: 5rem;
  overflow: hidden;
}

/* Logo */
#skills .infinite-scroll {
  width: calc(var(--max-w) * 0.8);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

#skills .infinite-scroll::before,
#skills .infinite-scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
 
  z-index: 2;
}

/*Utilizado quando não é para ter animação de Scroll Infinito*/
#skills .infinite-scroll .skills-grid {
  max-width: 1024px;
  animation: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

#skills .infinite-scroll .skills-grid li {
  display: block;
  margin: 0;
}

#skills .infinite-scroll:hover ul {
  animation-play-state: paused !important;
}

.infinite-scroll::after {
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 20% , var(--bg-primary) );
}

.infinite-scroll::before {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, var(--bg-primary));
}

/* Logo slide*/
#skills .infinite-scroll ul {
  display: inline-block;
  animation: 12s infinite-scroll infinite linear;
}

#skills .infinite-scroll ul li {
  list-style: none;
  display: inline-block;
  margin: 0 3.5rem;
}

#skills ul li i {
  font-size: 4.5em;
  color: var(--gray-primary);
}