#skills {
  min-height: 20rem;
  padding: 5rem 3rem;
  flex-direction: column;
  gap: 5rem;
  overflow: hidden;
}

/* Logo */
#skills .infinite-scroll {
  position: relative;
  white-space: nowrap;
}

#skills .infinite-scroll::before,
#skills .infinite-scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 500px;
  height: 100%;
 
  z-index: 2;
}

#skills .infinite-scroll:hover ul {
  animation-play-state: paused;
}

.infinite-scroll::after {
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), var(--bg-primary) 40%);
}

.infinite-scroll::before {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--bg-primary) 40%);
}

/* Logo slide*/
#skills .infinite-scroll ul {
  display: inline-block;
  animation: 12s infinite-scroll infinite linear;
}

#skills .infinite-scroll ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5rem;
}

#skills ul li i {
  font-size: 6em;
  color: var(--gray-primary);
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);  
  }
}